# Change for every project
NEXT_PUBLIC_APPLICATION_NAME="Nydus Frontend"
NEXT_PUBLIC_APPLICATION_DESCRIPTION="Starter Description"

NEXT_PUBLIC_APP_ENV="development" # Eruda provider shown only in development
NEXT_PUBLIC_IS_IN_MAINTENANCE="false" # set mantainance via server true | false
# NEXT_PUBLIC_MAINTENANCE_END_TIME="" # set mantainance end date

# Farcaster Manifest, generate yours at https://farcaster.xyz/~/developers/new or in warpcast mobile app Settings > Developer > Domains > insert website hostname > Generate domain manifest
NEXT_PUBLIC_URL="https://tunnel.example.com"
NEXT_PUBLIC_FARCASTER_HEADER="header"
NEXT_PUBLIC_FARCASTER_PAYLOAD="payload"
NEXT_PUBLIC_FARCASTER_SIGNATURE="signature"
# Base build MiniApp https://www.base.dev/apps?addApp=true
NEXT_PUBLIC_BASE_BUILDER_ADDRESS="0x"

# TURSO DB get yours at https://app.turso.tech
TURSO_DATABASE_URL="libsql://<your-database-name>.turso.io"
TURSO_DATABASE_TOKEN="<your-auth-token>"

# JWT SECRET generate yours w `openssl rand -base64 32`
JWT_SECRET="random_secret"

# NOTIFICATION SECRET generate yours w `openssl rand -base64 32`
NOTIFICATION_SECRET="..."

# NEYNAR get yours for free at https://dev.neynar.com
NEYNAR_API_KEY="NEYNAR_API_DOCS"
